{% extends "layout.html" %}
  
{% block body %}

<div class="container">
<form method="POST" action="{{ url_for('new_question') }}">
		<p>The question should be a question that was asked in a course exam. All fields are mandatory. </p>

    <p class="h4 mb-4">{{form.question.label}}</p>
		<div>{{ form.question }}</div>
		<ul>
				{% for error in form.question.errors %}
				<div class="alert alert-danger" role="alert">
						{{ error }}
				</div>
				{% endfor %}
		</ul>
		<p class="h4 mb-4">{{form.answer.label}}</p>

		<div>{{ form.answer }}</div>

				{% for error in form.answer.errors %}
				<div class="alert alert-danger" role="alert">
						{{ error }}
				</div>
				{% endfor %}

		<p class="h4 mb-4">{{form.difficulty.label}}</p>
	  <p>Give your estimation on the difficulty of the question (range 1-10)</p>
		<div>{{ form.difficulty }}</div>
		<ul>
				{% for error in form.difficulty.errors %}
				<div class="alert alert-danger" role="alert">
				{{ error }}
				</div>
				{% endfor %}
		</ul>
		{{ form.course_id(value=course_id) }}
		<Button type="submit">Submit</Button>

</form>
</div>
{% endblock %}