{% extends "layout.html" %}

{% block body %}
{{ error }}
<center>
      <img src= {{ url_for('static', filename = 'images/statistics.jpg') }} alt="statimage" width="300" height="100">
                   {% if courses_by_grade is defined %}
            
      
            <table class="table">
                  <thead>
                        <tr>
                              <th scope="col">Course Name</th>
                              <th scope="col">Course Average Grade</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for course in courses_by_grade %}    
                        <tr>
                              <td>{{course.name}}</td>             
                              <td>{{course.avg}}</td> 
                        </tr>
                        {% endfor %}
                  </tbody>
          </table>
                  {% endif %}             
                  {% if courses_by_workload is defined %}
            <table class="table">
                  <thead>
                        <tr>
                              <th scope="col">Course Name</th>
                              <th scope="col">Course Workload</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for course in courses_by_workload %}    
                        <tr>
                              <td>{{course.name}}</td>             
                              <td>{{course.avgworkload}}</td> 
                        </tr>
                        {% endfor %}
                  </tbody>
          </table>
            {% endif %}        
            <h3>Easy credits index</h2>
            {% if courses_by_ects is defined %}
            <table class="table">
                  <thead>
                        <tr>
                              <th scope="col">Course Name</th>
                              <th scope="col">Course ECTS</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for course in courses_by_ects %}    
                        <tr>
                              <td>{{course.name}}</td>             
                              <td>{{course.ects}}</td> 
                        </tr>
                        {% endfor %}
                  </tbody>
          </table>
          <img src= {{ url_for('static', filename = 'images/ecindx.jpg') }} alt="ecidnx" width="300" height="150">
     
                  {% endif %} 
</center>
{% endblock %}