{% extends "layout.html" %}
  
{% block body %}


<div class="container">
		<form method="POST" action="{{ url_for('new_comment') }}">
				<p>All fields are mandatory</p>
				<p class="h4 mb-4">{{form.text.label}}</p>
				<p>The minimum length is 10 characters</p>
				<div>{{ form.text }}</div>
				<ul>
						{% for error in form.text.errors %}
						<div class="alert alert-danger" role="alert">
								{{ error }}
						</div>
						{% endfor %}
				</ul>
				<p class="h4 mb-4">grade you got</p>

				<div>{{ form.grade }}</div>
				<p>The grade should be between 1-5</p> 
						{% for error in form.grade.errors %}
						<div class="alert alert-danger" role="alert">
								{{ error }}
						</div>
						{% endfor %}
		
				<p class="h4 mb-4">{{form.workload.label}}</p>
				<p>Weekly workload</p>
				<p>Put how many hours on average you worked on the course</p>
				<p>Range 1 to 168</p>
				<div>{{ form.workload }}</div>
				<ul>
						{% for error in form.workload.errors %}
						<div class="alert alert-danger" role="alert">
						{{ error }}
						</div>
						{% endfor %}
				</ul>
				<p class="h4 mb-4">Length of Course</p>
				<p>Put how many weeks the course ran for</p>
				<div>{{form.time_in_weeks}}</div>
				<ul>
						{% for error in form.time_in_weeks.errors %}
						<div class="alert alert-danger" role="alert">
						{{ error }}
						</div>
						{% endfor %}
				</ul>
				{{ form.course_id(value=course_id) }}
				<Button type="submit">Submit</Button>
		
		</form>
		</div>
{% endblock %}