{% extends "layout.html" %}
  
{% block body %}
<div class="form-control">
  <form method="POST" action="{{ url_for('new_comment') }}">
    <table>
        <tr>
          <td>  
          {{ form.text.label }}
	</td>
	<td>
	  {{ form.text }}
  </td>
  <ul>
	    {% for error in form.text.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
</tr>
<tr>
  <td>
	  {{ form.grade.label }}
	</td>
	<td>
	  {{ form.grade }}
  </td>
  <ul>
	    {% for error in form.grade.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
</tr>
<tr>
  <td>
	  {{ form.workload.label }}
	</td>
	<td>
	  {{ form.workload }}
  </td>
  <ul>
	    {% for error in form.workload.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
</tr>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Comment"/>
	</td>
      </tr>
  </form>
{% endblock %}