{% extends "layout.html" %}

{% block body %}
{{ error }}
<center>

            <form method="POST" action="{{ url_for('auth_login') }}">
                  <div class="form-group" style="margin-top: 10px;">
                  <p>Username</p>
                  {{ form.username }} 
                  </div>
                  <div class="form-group">
                  <p>Password </p>
                  {{ form.password }}
                  </div>
                  <input class="btn btn-primary" style="margin-bottom: 100px;" type="submit" value="Log In">
            </form>
</center>
{% endblock %}