{% extends "layout.html" %}
  
{% block body %}
        <form method="POST" action="{{ url_for('create_new_user') }}">
            <div class="form-group" style="margin-top: 10px;">
                <p>Name</p>
                {{ form.name }} 
            </div>
            <div class="form-group">
                <p>Username</p>
                {{ form.username }} 
            </div>
                <div class="form-group">
                <p>Password </p>
                {{ form.password }}
                </div>
            <input class="btn btn-primary" style="margin-bottom: 100px;" type="submit" value="Register">
      </form>      
{% endblock %}