{% extends "layout.html" %}

{% block body %}
<center>

{% if questions is defined %}
<hr/>
<h4> Questions </h4>
{% for question in questions %} 
<div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{{question.question}}</h5>
            <p class="card-text">{{question.answer}}</p>
            <div class="card-footer">Estimated difficulty: {{question.difficulty}}</div>
        </div>
</div>
{% endfor %}
{% if  questions|length == 0 %}
<p>No questions submitted</p>
    {% endif %}
{% endif %}

{% if prev_url %}
    <a href="{{ prev_url }}">Previous</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Next</a>
{% endif %}
<form method="POST" action="{{ url_for('show_course', course_id=course_id) }}">
                <input class="btn btn-secondary btn-sm" type="submit" value="Back to course page"/>
</form>
</center>

{% endblock %}