{% extends "layout.html" %}

{% block body %}
  <table class="container text-center">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Core</th>
      <th>Likes</th>
      <th>Dislike</th>
      <th>ECTS</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.core }}</td>
      <td>{{ course.likes}} </td>
      <td>{{ course.dislikes}} </td>
      <td>{{ course.ects}} </td>
      <td>
        <form method="POST" action="{{ url_for('course_add_like', course_id=course.id) }}">
            <input type="submit" value="Like"/>
        </form>
     </td>
     <td>
        <form method="POST" action="{{ url_for('course_add_dislike', course_id=course.id) }}">
            <input type="submit" value="Dislike"/>
        </form>
    </td>
    <td>
      
        <form method="POST" action="{{ url_for('comment_form', course_id=course.id) }}">
                    <input type="submit" value="Comment"/>
         </form>
    </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}