{% extends "layout.html" %}

{% block body %}
        <center>
        <div class="container">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title">{{course.name}}</h5>
                <p class="card-text">{{course.description}}</p>
                <div class="card-footer">{{course.core}} || {{course.ects}}</div>
            </div>
        </div>
        <form method="POST" action="{{ url_for('comment_form', course_id=course.id) }}">
                    <input class="btn btn-primary" type="submit" value="Comment"/>
        </form>
    </div>
</center>
{% endblock %}