{% extends "layout.html" %}

{% block body %}
  <table class="container text-center">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Core</th>
      <th>ECTS</th>
    </tr>
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.core }}</td>
      <td>{{ course.ects}} </td>
    <td>
        <form method="POST" action="{{ url_for('comment_form', course_id=course.id) }}">
                    <input type="submit" value="Comment"/>
         </form>
    </td>
    </tr>
  </table>
{% endblock %}