{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('course_update') }}">
        <p>Name</p>
        <div class="form-group">
          {{form.name}}
        </div>
        <div class="form-group">
          {{form.description}}
        </div>
        <div class="form-group">
            {{form.core}}
        </div>
        <div class="form-group">
            {{form.ects}}
        </div>
        <div>{{ form.course_id(value=course_id) }}</div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}